@media only screen and (min-width: 1024px) {
  * {
    line-height: 1.2;
  }

  h2,
  h4 {
    font-size: 3.6rem;
  }

  a {
    font-size: 1.6rem;
  }

  .logo-img {
    padding: 3rem 5rem;
  }

  .nav-wrapper {
    display: flex;
    justify-content: center;
  }

  .link {
    margin: 2rem;
  }

  #book-button {
    margin: 0 5rem 0 2rem;
  }

  .booking-header {
    padding: 5rem;
  }

  .col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
}
