@media only screen and (min-width: 820px) {
  * {
    line-height: 1.2;
  }

  h2,
  h4 {
    font-size: 3.6rem;
  }

  a {
    font-size: 1.6rem;
  }

  .logo-img {
    padding: 3rem 5rem;
  }
  .info-container {
    padding: 5rem 10rem;
  }
}
