@media only screen and (min-width: 1024px) {
  * {
    line-height: 1.2;
  }

  h2,
  h4 {
    font-size: 3.6rem;
  }

  a {
    font-size: 1.6rem;
  }

  .logo-img {
    padding: 3rem 5rem;
  }

  .nav-wrapper {
    display: flex;
    justify-content: center;
  }

  .link {
    margin: 2rem;
  }

  #book-button {
    margin: 0 5rem 0 2rem;
  }

  p,
  td {
    line-height: 3.2rem;
  }

  .container-header {
    padding: 5rem 0;
  }

  .info-container {
    padding: 5rem 10rem;
  }

  .parking-container {
    text-align: center;
  }

  .contact-container {
    margin: 0 10rem;
  }
}
