/*modyfying all elements in document*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1;
}

/*modyfying elements in body*/
body {
  background-image: url(/IMGS/back1.jpg);
  width: 100%;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
}

h2,
h4 {
  font-family: "Orbitron", sans-serif;
  font-size: 2.4rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

hr {
  color: black;
  border-width: 0.5px;
}


/*modyfying HEADER*/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(197, 192, 176, 0.234);
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo-img {
  max-width: 100%;
  padding: 1rem;
}

.nav-wrapper {
  display: block;
}

.link {
  padding-bottom: 0.5rem;
  margin: 0.5rem;
  font-size: 1.6rem;
  display: inline-block;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.social-media-book {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#book-button {
  font-size: 1.6rem;
  margin: 0 1rem 0 2rem;
  padding: 1.6rem;
  width: 70px;
  height: 50px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 8%;
  cursor: pointer;
}

#book-button:hover {
  background-color: dimgray;
}

.social-img {
  margin: 0 0.8rem;
  border-radius: 50%;
}


/*Modyfying MAIN CONTENT*/
.booking-header {
  padding: 3rem 5rem;
  font-size: 3.6rem;
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
#service {
  width: 100%;
  margin: 1.2rem 0;
  padding: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 1.2rem;
}

label {
  margin-top: 0.8rem;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2rem;
}

input[type="submit"] {
  font-size: 1.6rem;
  background-color: black;
  color: white;
  padding: 1.6rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2rem;
  width: 100%;
}

.container {
  border-radius: 5px;
  padding: 2.4rem 10rem;
}

.col-25, .col-75  {
  width: 100%;
    margin-top: 0;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/*Modyfying FOOTER*/
.footer {
  font-weight: 400;
  background-color: rosybrown;
  padding: 5rem 3rem;
  text-align: center;
  width: 100%;
}

.footer-header {
  font-size: 3.6rem;
  margin-bottom: 3rem;
}

.footer-content {
  font-size: 2.4rem;
  padding: 1.2rem;
}

.copyright {
  padding: 4rem 0 0;
  font-size: 1.2rem;
  text-align: center;
}

.footer-form {
  padding-bottom: 2rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-email {
  font-size: 1.2rem;
  width: 30%;
  height: 6rem;
  border: solid darkgray;
  padding-left: 0.5rem;
  color: darkgray;
}

#footer-email:focus {
  border-width: 3px;
}

#footer-button {
  font-size: 1.4rem;
  margin-left: 1rem;
  height: 4.8rem;
  color: white;
  background-color: black;
  border: none;
  padding: 1.2rem;
  border-radius: 8%;
  cursor: pointer;
  animation-name: shaking;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
